* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  // flex-direction: column;
  position: relative;
  background-color: hsl(228, 33%, 97%);
  font-size: 16px;
  font-family: "Rubik", sans-serif;
}
section {
  padding: 20px 100px;
  display: grid;
  align-items: center;
  justify-content: center;
  // The whole Comment section
  #comment {
    display: flex;
    flex-direction: column;
    .amy {
      padding: 10px;
      .allcontent {
        background-color: hsl(0, 0%, 100%);
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
        padding: 20px;
        // width: 100%;
        border-radius: 5px;
        // align-items: flex-start;
        .score {
          background-color: hsl(223, 19%, 93%);
          height: 100%;
          padding: 8px;
          border-radius: 5px;
          // width: 20%;
          margin-right: 20px;
          p{
            cursor: pointer;
          }
        }
        .textcontent {
          display: flex;
          flex-direction: column;
          width: 100%;
          // justify-content: ;
        }
        .replydate {
          display: flex;
          justify-content: space-between;
          margin-bottom: 10px;
          width: 100%;
          .reply {
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: hsl(212, 24%, 26%);
            margin-left: 10px;
            font-weight: 700;
            cursor: pointer;
            // color: hsl(211, 10%, 45%);
            // width: 10%;
            img {
              margin-right: 5px;
              width: 15px;
              height: 15px;
            }
          }
          .namedate {
            display: flex;
            justify-content: space-between;
            align-items: center;
            p {
              margin-left: 5px;
            }
            button {
              background-color: hsl(238, 40%, 52%);
              color: white;
              border: none;
              padding: 3px;
              margin-left: 5px;
              
            }
            img {
              width: 35px;
              height: 35px;
              border-radius: 30px;
            }
          }
        }
      }
      .allcontent2 {
        background-color: hsl(0, 0%, 100%);
        width: 90%;
        float: right;
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
        padding: 20px;
        border-radius: 5px;
        align-items: flex-start;
        .score {
          background-color: hsl(223, 19%, 93%);
          height: 100%;
          padding: 8px;
          border-radius: 5px;
          // width: 20%;
          margin-right: 20px;
        }
        .textcontent {
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          width: 100%;
          // justify-content: ;
          .text {
            width: 100%;
            min-height: 100px;
            padding: 20px;
            // border: none;
            outline: black 1px solid;
          }
          .finaltext {
            padding: 20px;
            width: 100%;
          }
        }
        .replydate {
          display: flex;
          justify-content: space-between;
          margin-bottom: 10px;
          .reply {
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: hsl(212, 24%, 26%);
            margin-left: 10px;
            font-weight: 700;
            cursor: pointer;
            // width: 10%;
            .editreply {
              display: flex;
              margin-left: 10px;
              cursor: pointer;
            }
            .delreply {
              display: flex;
              margin-left: 10px;
              cursor: pointer;
            }
            img {
              margin-right: 5px;
              width: 15px;
              height: 15px;
            }
          }
          .namedate {
            display: flex;
            justify-content: space-between;
            align-items: center;
            p {
              margin-left: 5px;
            }
            button {
              background-color: hsl(238, 40%, 52%);
              color: white;
              border: none;
              padding: 3px;
              margin-left: 5px;
            }
            img {
              width: 35px;
              height: 35px;
              border-radius: 50%;
            }
          }
        }
      }
      .deletebox {
        background-color: white;
        position: absolute;
        top: 50%;
        z-index: 1;
        transform: translate(-50%, -50%);
        padding: 20px;
        width: 40%;
        left: 50%;
        box-shadow: 100px 100px 800px 1000px rgba(0, 0, 0, 0.2),
          100px 106px 120px 1000px rgba(0, 0, 0, 0.19);
        border-radius: 10px;
        p {
          margin-bottom: 20px;
        }
        .del {
          font-size: 20px;
          font-weight: bolder;
        }
        .confirmdiv {
          width: 100%;
          display: flex;
          gap: 10px;
          justify-content: space-between;
          button {
            padding: 10px;
            border: none;
            border-radius: 10px;
            width: 250px;
            color: white;
          }
          .no {
            background-color: hsl(211, 10%, 45%);
          }
          .yes {
            background-color: hsl(358, 79%, 66%);
          }
        }
      }
    }
    // My personal comment styling
    .myComment {
      width: 100%;
      margin-bottom: 20px;
      padding: 10px;
      .allcontent {
        background-color: hsl(0, 0%, 100%);
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
        padding: 20px;
        // width: 100%;
        border-radius: 5px;
        // align-items: flex-start;
        .score {
          background-color: hsl(223, 19%, 93%);
          height: 100%;
          padding: 8px;
          border-radius: 5px;
          margin-right: 20px;
          p{
            cursor: pointer;
          }
        }
        .textcontent {
          display: flex;
          flex-direction: column;
          width: 100%;
          // justify-content: ;
        }
        .text{
          width: 100%;
          height: 100px;
          padding: 10px;
          resize: none;   
        }
        .replydate {
          display: flex;
          justify-content: space-between;
          margin-bottom: 10px;
          width: 100%;
          .reply {
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: hsl(212, 24%, 26%);
            margin-left: 10px;
            .editreply {
              display: flex;
              margin-left: 10px;
              color: hsl(212, 24%, 26%);
            }
            .delreply {
              display: flex;
              margin-left: 10px;
              color: hsl(358, 79%, 66%);
            }
            // width: 10%;
            img {
              margin-right: 5px;
              width: 15px;
              height: 15px;
            }
          }
          .namedate {
            display: flex;
            justify-content: space-between;
            align-items: center;
            p {
              margin-left: 5px;
            }
            button {
              background-color: hsl(238, 40%, 52%);
              color: white;
              border: none;
              padding: 3px;
              margin-left: 5px;
            }
            img {
              width: 35px;
              height: 35px;
              border-radius: 30px;
            }
          }
          
        }
      }
    }
    // My comment inputs
    .newComment {
      display: flex;
      justify-content: space-evenly;
      padding: 20px;
      background-color: hsl(0, 0%, 100%);
      height: 170px;
      margin-bottom: 30px;
      .userimg {
        border-radius: 50%;
        width: 35px;
        height: 35px;
        margin-right: 20px;
      }
      .text {
        width: 100%;
        height: 100%;
        padding: 10px;
        resize: none;
        // border: none;
        outline: black solid 1px;
      }
      .send {
        // padding: 20px;
        width: 130px;
        height: 40px;
        color: hsl(223, 19%, 93%);
        background-color: hsl(238, 40%, 52%);
        border: none;
        border-radius: 8px;
        margin-left: 20px;
        &:hover{
          opacity: 0.5;
        }
      }
    }
    .newComment2 {
      display: flex;
      justify-content: space-between;
      padding: 20px;
      float: right;
      width: 90%;
      background-color: hsl(0, 0%, 100%);
      // min-height: 170px;
      margin-bottom: 30px;
      // display: block;
      // align-items: center;
      .userimg {
        border-radius: 50%;
        width: 35px;
        height: 35px;
        margin-right: 20px;
      }
      .text {
        width: 100%;
        min-height: 100px;
        padding: 20px;
        outline: black solid 1px;
        // outline: none;
      }
      .send {
        // padding: 20px;
        width: 130px;
        height: 40px;
        color: hsl(223, 19%, 93%);
        background-color: hsl(238, 40%, 52%);
        border: none;
        border-radius: 8px;
        margin-left: 20px;
        &:hover{
          opacity: 0.5;
        }
      }
    }
    .update {
      display: flex;
      justify-content: space-between;
      margin-top: 10px;
      .send {
        // padding: 20px;
        width: 100px;
        height: 50px;
        color: hsl(223, 19%, 93%);
        background-color: hsl(238, 40%, 52%);
        border: none;
        border-radius: 8px;
        margin-left: 20px;
        outline: none;
      }
    }
  }
}
@media only screen and (max-width: 713px) {
  section {
    padding: 10px 70px;
    .amy {
      width: 100%;
      .allcontent {
        position: relative;
        flex-direction: column-reverse;
        gap: 20px;
        .score {
          display: flex;
          width: 20%;
          justify-content: space-between;
          //  display: block;
          align-self: baseline;
        }
        .textcontent {
          .replydate {
            .reply {
              position: absolute;
              bottom: 15%;
              right: 10%;
              // width: 100%;
            }
          }
        }
      }
      .newComment {
        position: relative;
        img {
          position: absolute;
          bottom: 10%;
          left: 5%;
        }
        .text {
          // resize: none;
          height: 60% !important;
        }
        .send {
          position: absolute;
          bottom: 10%;
          right: 5%;
        }
      }
      .newComment2 {
        position: relative;
        height: 200px;
        img {
          position: absolute;
          bottom: 10%;
          left: 5%;
        }
        .text {
          height: 50% !important;
        }
        .send {
          position: absolute;
          bottom: 10%;
          right: 5%;
        }
      }
      .allcontent2 {
        position: relative;
        flex-direction: column-reverse;
        gap: 20px;
        .score {
          display: flex;
          width: 20%;
          justify-content: space-between;
          //  display: block;
          align-self: baseline;
        }
        .textcontent {
          .replydate {
            .reply {
              position: absolute;
              bottom: 15%;
              right: 10%;
            }
          }
        }
      }
      .deletebox {
        width: 50% !important;
      }
    }
    .newComment {
      position: relative;
      img {
        position: absolute;
        bottom: 3%;
        left: 4%;
      }
      .text {
        height: 70% !important;
      }
      .send {
        position: absolute;
        bottom: 3%;
        right: 4%;
      }
    }
    .myComment {
      .allcontent {
        position: relative;
        .textcontent {
          .replydate {
            .reply {
              position: absolute;
              bottom: 10%;
              right: 10%;
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 500px) {
  section {
    padding: 10px 20px;
    .amy {
      .deletebox {
        width: 90% !important;
      }
    }
  }
}
